html, body {
    height: 100%;
}

.scrollOverflow {
    overflow: scroll;
    overflow-y: scroll;
}

.fullHeight {
    height: 600px;
    max-height: 600px;
}

#pageContent {
    width: 1200px;
    height: 600px;
    margin: auto;
}

.editTextArea {
    width: 95%;
    height: 90%;
}