#pageContent {
    margin: 10px;
    margin-top: 75px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.editTextArea {
    width: 95%;
    height: 600px;
}

#headerArea {
    text-align: left;
    font-size: 2.3em;
    font-weight: 900;
    padding-top: 15px;
    background: #E1DBAB;
    border-bottom: 3px solid #782E54;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 45px;
    vertical-align: top;
    z-index: 10;
}

#headerArea a {
    color: #fff;
}

#headerArea a:hover {
    color: #d8d8d8;
}

#column-buckets {
    position: absolute;
    left: 10px;
    width: 23%;
    top: 10px;
    bottom: 10px;
    overflow: scroll;
}

#column-keys {
    position: absolute;
    left: 25%;
    width: 24%;
    top: 10px;
    bottom: 10px;
    overflow: scroll;
}

#column-value {
    position: absolute;
    left: 50%;
    width: 49%;
    top: 10px;
    bottom: 10px;
    overflow: scroll;
}