{{render header}}
<div id="pageContent">
    <div id="column-buckets" class="scrollOverflow fullHeight">
        {{#if content.isLoaded}}
            <ul class="nav nav-pills nav-stacked fullHeight">
                {{#each arrangedContent}}
                {{view Embriak.BucketLiView contentBinding="this"}}
                {{/each}}
            </ul>
        {{else}}
            Loading Buckets<br />
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        {{/if}}
    </div>
    {{outlet}}
</div>